
<%- include('include/header') -%>
    <section class="admin-section">
      <h6 class="page-title text-center" >Online Center</h6>
      <div class="row d-flex align-items-center text-center admin-section-option">

        <input type="hidden" value="<%=user.username%>" id="userId">
  
        <!-- search for order -->
        <div class="search-bar alert alert-light">
          <form method="get"  action="/searchsingleorder">
              <input class="form-control" type="number" name="orderNumber" placeholder="search by order number" autocomplete="off">
               <button class="serach-btn btn btn-success btn-sm">Search</button>
          </form>
        </div>

        <%if(settings.lock == true){%>
          <div class="alert alert-success">
            <a href="/unlock-system">Unlock system</a>
          </div>
       <%}else{%>
        <div class="alert alert-danger">
          <a href="/lock-system">Lock system</a>
        </div>
       <%}%>


        <!-- Order -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/order?fromDate=<%=date%>&toDate=<%=date%>&page=1&fromTime=00:00&toTime=23:59">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary all-order">Orders</h5>
              </div>
            </a>
          </div>
          

          <!--  processing-->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/processingorder">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders">Processing</h5>
              </div>
            </a>
          </div>

          <!-- Completed -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/completed-order">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders">Complete</h5>
              </div>
            </a>
          </div>

          <!-- refund -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/get-refund-request">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders"><strong><span id="refund-counter" class="notification-icon" style="color: red;">0</span></strong> Refund</h5>
              </div>
            </a>
          </div>


          <!-- Replacement -->
          <!-- <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/replacement">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders">Replacement</h5>
              </div>
            </a>
          </div> -->


          <!-- Notification -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/admin-notification">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders"><strong><span id="notification-counter" class="notification-icon" style="color: red;">0</span></strong> Notification</h5>
              </div>
            </a>
          </div>

          <!-- Report -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/report">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders"> Report</h5>
              </div>
            </a>
          </div>
          
          <div>
            <a style="margin-top: 10px;" href="/admin" class="btn btn-secondary btn-sm">Back</a>
          </div>


          <!-- <div class="col-md-6 col-sm-12 admin-section-option-main">
              <div class=" admin-section-option-item">
                  <h5 class="settings">Control</h5>
              </div>
          </div>

          <div class="col-md-6 col-sm-12 admin-section-option-main">
              <div class=" admin-section-option-item">
                  <h5 class="perfomance">Performance</h5>
              </div>
          </div>  -->
      </div>
    </section>

    <script src="/min/notification.js"></script>
    <%- include('include/footer') -%>
