
<%- include('include/header') -%>
    <section class="admin-section">
      <h6 class="page-title text-center" >Online Center</h6>
      <div class="row d-flex align-items-center text-center admin-section-option">

  
        <!-- search for order -->
        <div class="search-bar alert alert-light">
          <form method="get"  action="/searchsingleorder">
              <input class="form-control" type="number" name="orderNumber" placeholder="search by order number" autocomplete="off">
               <button class="serach-btn btn btn-success btn-sm">Search</button>
          </form>
        </div>

        <!-- Order -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/order?fromDate=<%=date%>&toDate=<%=date%>&page=1&fromTime=00:00&toTime=23:59">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary all-order">Orders</h5>
              </div>
            </a>
          </div>
          

          <!-- completed -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/processingorder">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders">Processing</h5>
              </div>
            </a>
          </div>

          <!-- Refund -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/completed-order">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary all-order">Completed</h5>
              </div>
            </a>
          </div>

          <!-- order to process -->
          <div class="col-md-6 col-sm-12 admin-section-option-main">
            <a href="/">
              <div class="admin-section-option-item">
                <h5 class="alert alert-secondary completed-orders">Refund</h5>
              </div>
            </a>
          </div>
          
          <div>
            <a style="margin-top: 10px;" href="/admin" class="btn btn-secondary btn-sm">Back</a>
          </div>


          <!-- <div class="col-md-6 col-sm-12 admin-section-option-main">
              <div class=" admin-section-option-item">
                  <h5 class="settings">Control</h5>
              </div>
          </div>

          <div class="col-md-6 col-sm-12 admin-section-option-main">
              <div class=" admin-section-option-item">
                  <h5 class="perfomance">Performance</h5>
              </div>
          </div>  -->
      </div>
    </section>

    <%- include('include/footerTemp') -%>
    <%- include('include/footer') -%>
