
<%- include('include/header') -%>
    <section class="order-page">
        <div class="container">
            <h6 class="alert alert-success text-center">Staff Perfomance</h6>
            <div class="row d-flex justify-content-center alert alert-light">
                <div class="col-md-6 dateFilter text-center">
                    <p >Date Filter</p>
                    <div class="dateFilter-container">
                        <form action="/order" method="get" class="row">
                            <div class="dateFilter-item col-md-5 col-sm-12">
                                <input type="date" class="form-control" name="fromDate" value="">
                            </div>
                            <div class="dateFilter-item col-md-5 col-sm-12">
                                <input type="date" class="form-control" name="toDate" value="">
                            </div>
                            <input type="hidden" name="page" value="1">
                            <div class="dateFilter-item  col-md-2 col-sm-12">
                                <button type="submit" class="btn btn-success">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-center alert alert-info">
                    <h6>TOTAL ORDER: <%=order.length%></h6>
                </div>
            </div>

            <!-- table -->
            <div class="row order-table">
                <div class="col-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th scope="col">Staff Name</th>
                            <!-- <th scope="col">Dry</th>
                            <th scope="col">Meat</th> -->
                            <th scope="col">Packed</th>
                        </tr>
                        </thead>
                        <tbody class="">
                            <% for(const eachReport of report){%>
                                <tr class="">
                                    <td class=""><%=eachReport.fname%></td>
                                    <!-- <td class=""><eachReport.pick.length></td>
                                    <td class=""><eachReport.meat.length></td> -->
                                    <td class=""><%=eachReport.pack.length%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- back to dashboard -->
            <div class="row">
                <div class="text-center">
                    <a class="btn btn-secondary btn-md action-button"  href="/report">Back to dashboard</a>
                </div>
            </div>

        </div>
    </section>

    <%- include('include/footerTemp') -%>
    <!-- <script src="/min/general.js"></script>
    <script src="/min/order.js"></script> -->
    <%- include('include/footer') -%>
