
<%- include('include/header') -%>


<!-- show page after reading the js -->

    <section class="order-page">
        <div class="container">


            <h6 class="alert alert-success text-center">Order to process <%=order.length%></h6>

            <!-- show team member if team.status is true -->
                <%if(teamMember != null){%>
                <h6 class="alert alert-info text-center">
                    Team: 
                    <%for(const eachTeam of teamMember){%>
                        <span><%=eachTeam.fname%>, </span>
                    <%}%>
                </h6>
                <%}%>


            <!-- if it's on individual mode show the number of undo order for each staff -->
             <!-- <if(orderAssign.length >0){>
                <for(const eachStaff of orderAssign){>
                    <span class="small-box-margin"><=eachStaff.fname>: <eachStaff.undone>/<eachStaff.order></span>
                <}>
            <}> -->

            <!-- refund notification -->
            <div class="row" >
                <div class="col-sm-12 col-12">
                    <% if(refund.length > 0){%>
                        <div class="row d-flex justify-content-center">
                            <%for(const eachRefund of refund){%>
                                <div class="col-sm-6 alert alert-danger">! alert order <%=eachRefund.orderNumber%> <a href="/mark-notification-read?id=<%=eachRefund.orderNumber%>">mark as read</a></div>
                            <%}%>
                        </div>
                    <%}%>
                </div>
            </div>

            <!-- table -->
            <div class="row order-table">
                <div class="col-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Meat</th>
                            <th scope="col">Picker</th>
                            <th scope="col">Packer</th>
                            <!-- <th scope="col">Note</th> -->
                            <!-- <th scope="col">Status</th> -->
                        </tr>
                        </thead>
                        <tbody class="">
                            <% for(i =0; i<order.length; i++ ){%>
                                <tr class="eachOrder">
                                    <td>
                                        <%if(order[i].lock == true ){%>
                                            <%if(user.duty == "manager"){%>
                                                <a href="/single-order-processing?id=<%=order[i].orderNumber%>"><%=order[i].orderNumber%></a> <span style="color: red;">locked</span></td>
                                            <%}else{%>
                                                <a><%=order[i].orderNumber%></a> <span style="color: red;">locked</span></td>
                                            <%}%>
                                        <%}else{%>
                                         <a href="/single-order-processing?id=<%=order[i].orderNumber%>"><%=order[i].orderNumber%></a></td>
                                         <%}%>
                                    <!-- ?id=<=order[i].id>&fromDate=<=fromDate>&toDate=<=toDate>&page=<=page>&fromTime=<=fromTime>&toTime=<=toTime> -->
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <!-- <td>-</td> -->
                                        <!-- <td>
                                            <input class="form-check-input" type="checkbox">
                                        </td> -->
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- back to dashboard -->
            <div class="row">
                <div class="text-center">
                    <% if(user.role == "admin"){%>
                        <a class="btn btn-success btn-md" href="/admin/online">Back to dashboard</a>
                   <% }else{%>
                        <a class="btn btn-success btn-md" href="/staff/online">Back to dashboard</a>
                    <%}%>

                </div>
            </div>

        </div>
    </section>


<%- include('include/footerTemp') -%>
<script src="/min/orderToProcess.js"></script>
<%- include('include/footer') -%>
