
<%- include('include/header') -%>
    <section class="order-page">
        <div class="container">
            <h6 class="alert alert-success text-center">Order <span id="orderNumber"><%=order.id%></span></h6>
            <input type="hidden" value="<%=user.username%>" id="staffId">
            <input type="hidden" value="<%=user.fname%>" id="fname">

         <!-- reveal who is who (who is handling the order) -->
        <%- include('functions/who-is') -%>
            
            <div class="row">
                <!-- shiiping address -->
                <div class="col-md-6">
                    <div class="alert alert-dark">
                    <h6><%=order.shipping.first_name%> <%=order.billing.last_name%></h6>
                    <h6>
                        <%=order.shipping.address_1%> 
                        <%=order.shipping.address_2%>
                        <%=order.shipping.city%> 
                        <%=order.shipping.state%>
                    </h6>
                    <h6>Post Code: <%=order.billing.postcode%></h6>
                    <%if(user.duty == "manager"){%>
                    <h6><a href="tel:+44<%=order.billing.phone%>">+44 <%=order.billing.phone%></a></h6>
                    <%}%>
                    </div>
                </div>

                <!-- order status and payment -->
                <div class="col-md-6">
                    <div class="alert alert-danger">
                    <h6>Order Status: <%=order.status%></h6>
                    <h6>Shipping: <%=order.shipping_lines[0].method_title%></h6>
                    <h6>Shipping Amount: <%=order.currency_symbol%><%=order.shipping_lines[0].total%></h6>
                    </div>
                </div>
            </div>


            <!-- customer note -->
            <div class="col-md-12">                    
                <% if(order.customer_note){%>
                <div class="alert alert-warning">
                    <h6 class="text-center">Customer Note</h6>
                    <div class="text-center"><%=order.customer_note%></div>
                </div>                    
                <%}%>
            </div>

            <!-- staff notes -->
            <div class="col-md-12 alert alert-primary">
                    <div class="alert alert-light">
                        <h6 class="text-center">Staff Note</h6>
                        <div class="note-msg" id="note-msg">
                            <!-- if note is available from db -->
                            <%if(orderFromDB){%>
                                <% for (let i =0; i<orderFromDB.note.length; i++){%>
                                    <div class="alert alert-danger"> <%=orderFromDB.note[i].fname%>: <%=orderFromDB.note[i].note%></div>
                                    <%}%>
                            <%}%>
                            <!--  -->
                        </div>
                    </div>

                <div class="">
                    <textarea class="note-input" id="note" maxlength="60" placeholder="Kindly add your note"></textarea>
                    <input type="hidden" id="orderNumber" value="<%=order.id%>">
                    <input type="hidden" id="userId" value="<%=user.username%>">
                    <input type="hidden" id="fname" value="<%=user.fname%>">
                    <div>
                        <button class="btn btn-sm btn-primary" id="sendNoteBtn">Drop note</button>
                    </div>
                </div>

            </div>


        <!-- table and action -->
        <%if(authorize == true && activity == true){%>
            <%- include("functions/order-table") -%>
            <%- include("functions/order-action") -%>
        <%}else{%>
            <h4 class="alert alert-danger text-center">This order is already being processed</h4>
            <%- include("functions/order-table") -%>
            <a href="/processingorder" class="btn btn-warning btn-sm">Back</a>
        <%}%>

        </div>
    </section>

    <%- include('include/footerTemp') -%>
    <script src="/js/singleOrderProcessing.js"></script>
    <%- include('include/footer') -%>
