            <!-- actions -->
            <!-- if order is already added to order to process, orderFromDB will not be null -->
            <%if(orderFromDB != null){%>
                <div class="" id="available-bar"> 
                    <%if(orderFromDB.lock == true){%>
                        <h3 class="alert alert-danger">This order is locked</h3>
                    <%}%>

                    <a href="/processingorder" class="btn btn-warning btn-md" style="margin-bottom: 2px;">Back</a>

                    <%if(user.duty == "manager"){%>
                        <!-- admin tools -->
                        <div class="col-sm-12 mb-1">
                            <a href="/remove-from-order?order=<%=order.id%>" class="btn btn-danger btn-sm">Remove from processing</a>
                            <a href="/reset-worker?order=<%=order.id%>" class="btn btn-dark btn-sm">Reset worker</a>
                            <%if(orderFromDB.lock == true){%>
                                <a href="/unlock-order?order=<%=order.id%>" class="btn btn-primary btn-sm">Unlock order</a>
                            <%}else{%>
                                <a href="/lock-order?order=<%=order.id%>" class="btn btn-primary btn-sm">Lock order</a>
                            <%}%>
                            <a href="/clear-note?order=<%=order.id%>" class="btn btn-warning btn-sm">Clear note</a>
                            <button class="btn btn-secondary btn-sm" id="hide-product">Hide selected</button>
                        </div>

                        <div class="col-sm-6 mb-1">
                            <select class="form-select staff-duty" id="assign-staff" aria-label="Default select example">
                                <option value="">Assign to staff</option>
                                <option value="patrick@mywosiwosi.co.uk">Patrick</option>
                                <option value="sunny@mywosiwosi.co.uk">Sunny</option>
                                <option value="liton@mywosiwosi.co.uk">Liton</option>
                                <option value="sajal@mywosiwosi.co.uk">Sajal</option>
                                <option value="moshood@mywosiwosi.co.uk">Moshood</option>
                                <option value="lekan@mywosiwosi.co.uk">Lekan</option>
                                <option value="anu@mywosiwosi.co.uk">Anu</option>
                                <option value="maro@mywosiwosi.co.uk">Maro</option>
                                <option value="gbenga@wosiwosi.co.uk">Gbenga</option>
                                <option value="odunlamibamidelejohn@gmail.com">Bamidele</option>
                                <option value="femi.oluyemi@wosiwosi.co.uk">Femi</option>
                                <option value="gafar@mywosiwosi.co.uk">Gafar</option>
                            </select>
                        </div>
                    <%}%>
                    <!-- if it's team mode -->
                    <!-- setting == true && user.duty == "packer" && orderFromDB.meatPicker.active == false -->
                     <%if(setting == false){%>
                        <!-- individual mode -->
                        <button class="btn btn-dark btn-sm" id="dryPicked">Dry Picked</button>
                        <button class="btn btn-primary btn-sm" id="meatPicked">Meat Picked</button>
                        <button class="btn btn-success btn-sm" id="completeBtn" disabled>Complete</button>
                     <%}else{%>
                        <!-- team mode -->
                        <button class="btn btn-success btn-sm" id="completeBtn">Completed order</button>
                    <%}%>
                </div>
            <%}else{%>
            <!-- if order is not added to Orders to be processed (function in singleOrderProcessing.js) -->
            <div class="" id="unavailable-bar">
                <%if(user.duty == "manager"){%>
                    <button class="btn btn-danger btn-sm" id="saveBtn">Add to order to be process today</button>
                <%}else{%>
                    <h5 class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> This order cannot be worked on, contact manager to unlock</h5>
                <%}%>                
                <a href="/processingorder" class="btn btn-warning btn-sm">Back</a>
            </div>
            <%}%>

            


