<%-include('include/header')-%>

<section class="">
    <div class="container">
        <div class="row team-main d-flex align-items-center">
            
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="team-bar">
                    <h5 class="alert alert-success text-center"><%=user.fname.toUpperCase()%> TEAM <%=user.team.value.toUpperCase()%></h5>
                    <!-- team table -->
                    <div class="alert alert-light">
                        <h6>Team member</h6>
                        <table class="table table-striped table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Duty</th>
                            </tr>
                            </thead>
                            <tbody class="">
                                <%for(const teamMember of team){%>
                                    <tr>
                                        <td><%=teamMember.fname%></td>
                                        <td><%=teamMember.duty%></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                    <!-- form -->
                    <div class="team-form">
                            <div class="mb-3">
                                <select class="form-select my-duty" aria-label="Default select example">
                                        <option>SELECT OPTION</option>
                                        <option value="meat-picker <%=user.username%>">MEAT-PICKER</option>
                                        <option value="dry-picker <%=user.username%>">DRY-PICKER</option>
                                        <option value="packer <%=user.username%>">PACKER</option>
                                </select>
                            </div>
                            <button class="btn btn-success btn-sm" id="submit-btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include('include/footerTemp')-%>
<script src="/min/my-duty.js"></script>
<%-include('include/footer')-%>